



.main {
    max-height: 11;
    align: center middle;
    padding: 0 1;
}

#sentence-label {
    width: 100%;
    text-align: center;
    padding-top: 1;
}

#wpm-label {
    margin-top: 1;
}

#user-input {
    max-width: 130;
}

#container {
    align: center middle;
}

#footer {
    background: $panel;
    padding: 0 1;
    width: auto;
    margin-top: 1;
}